tests/
pycache/
build.py
flrec.py
grid.py
flipview.py
t.py
docs.py
git_changes_summary.md
changes.md

__pycache__/
.vscode/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

fluentflet.egg-info
dist/

storage/
*.cpython-312.pyc